<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
	.info{
	display: flex;
	padding: 20px;
	}
</style>
</th:block>
<div layout:fragment="content">
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
						class="text-black">내 정보</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="h3 mb-3 text-black">내 정보</h2>
					<div class="p-3 p-lg-5 border">
						<form role="form" action="/member/MyInfo" method="get"
							th:object="${member}">
							<input type="hidden" id="memberId" th:value="${member.Id}" />
							<div class="info">
							<div>이름 : &nbsp;</div>
							<div class="product-name" th:text="${member.name}"></div>
							</div>
							<div class="info">
							<div >이메일 : &nbsp;</div>
							<div class="product-email" th:text="${member.email}"></div>
							</div>
							<div class="info">
							<div>집주소 : &nbsp;</div>
							<div class="product-address" th:text="${member.address}"></div>
							</div>
							<div>
								<button type="button"
									class="btn btn-danger waves-effect waves-light btnmember"
									onclick="location.href ='/member/MyInformation'"
									style="float: right; background-color: white; color: black; border-color:black ; font-weight: bolder;">내 정보 수정하기</button>
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		//회원가입이 실패 했을때
		var errorMessage = [[${errorMessage}]];
		
		if(errorMessage != null){
			alert(errorMessage);
		}
	</script>
</th:block>
</html>