<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.img-fluid{
	width: 70px;
	height: 100px;
}
.product-name{
	width: 200px;
}

</style>
</th:block>
<div layout:fragment="content">

	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
						class="text-black">Cart</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row mb-5">
				<form class="col-md-12" th:each="cart : ${carts.getContent()}">
					<div class="site-blocks-table">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="product-thumbnail">Image</th>
									<th class="product-name">Product</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
									<th class="product-remove">Remove</th>
								</tr>
							</thead>
							<tbody th:each="cartItem: ${cart.cartItemDtoList}">

								<tr>
									<td class="product-thumbnail"><img
										th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}"
										class="img-fluid"></td>
									<td class="product-name" th:text="${cartItem.itemNm}"></td>

									<td class="price" id="price"
										th:text="${#numbers.formatInteger(cartItem.cartPrice, 0, 'COMMA')}+'원'"></td>

									<td class="count" id="count" th:text="${cartItem.count}"></td>

									<td id="'totalPrice"
										th:text="'총' +  '  ' + ${#numbers.formatDecimal(cartItem.count * cartItem.cartPrice, 0, 'DEFAULT', 0, 'DEFAULT')} + '원'">

									</td>

									<td>
										<button type="button" class="btn btn-primary"
											th:value="${cart.cartId}" onclick="deleteCart(this.value)">삭제하기</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					</form>
						<nav style="margin-bottom: 50px"
							th:with="start=${(carts.number/maxPage)*maxPage + 1}
									,end=(${(carts.totalPages == 0) ? 1 : (start + (maxPage - 1) < carts.totalPages ? start + (maxPage - 1) : carts.totalPages)})"
							aria-label="Page navigation example">
							<ul class="pagination d-flex justify-content-center">
								<li class="page-item"
									th:classappend="${carts.first}?'disabled'"><a
									class="page-link"
									th:onclick="'javascript:page(' + ${carts.number - 1} +')'">
										이전 </a></li>
								<li class="page-item"
									th:each="page: ${#numbers.sequence(start, end)}"
									th:classappend="${carts.number eq page-1}?'active':''"><a
									class="page-link" th:inline="text"
									th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a></li>
								<li class="page-item" th:classappend="${carts.last}?'disabled'">
									<a class="page-link"
									th:onclick="'javascript:page(' + ${carts.number + 1} +')'">
										다음 </a>
								</li>
							</ul>
						</nav>
				
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="row mb-5">
						<div class="col-md-6 mb-3 mb-md-0">
							<button class="btn btn-primary btn-sm btn-block">Update
								Cart</button>
						</div>
						<div class="col-md-6">
							<button class="btn btn-outline-primary btn-sm btn-block">Continue
								Shopping</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label class="text-black h4" for="coupon">Coupon</label>
							<p>Enter your coupon code if you have one.</p>
						</div>
						<div class="col-md-8 mb-3 mb-md-0">
							<input type="text" class="form-control py-3" id="coupon"
								placeholder="Coupon Code">
						</div>
						<div class="col-md-4">
							<button class="btn btn-primary btn-sm px-4">Apply Coupon</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 pl-5">
					<div class="row justify-content-end">
						<div class="col-md-7">
							<div class="row">
								<div class="col-md-12 text-right border-bottom mb-5">
									<h3 class="text-black h4 text-uppercase">Cart Totals</h3>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-md-6">
									<span class="text-black">Subtotal</span>
								</div>
								<div class="col-md-6 text-right">
									<strong class="text-black">$230.00</strong>
								</div>
							</div>
							<div class="row mb-5">
								<div class="col-md-6">
									<span class="text-black">Total</span>
								</div>
								<div class="col-md-6 text-right">
									<strong class="text-black">$230.00</strong>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary btn-lg btn-block"
										onclick="window.location='checkout.html'">Proceed To
										Checkout</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			//처음 상세 페이지 화면에 들어올때 총 상품금액이 보여야 하므로
			calculateTotalPrice();

		});

		function calculateTotalPrice() {
			var count = $("#count").val(); //수량
			var price = $("#price").val(); //가격
			var totalPrice = (price * count).toLocaleString('ko-KR'); //천단위 콤마
			$("#totalPrice").html(totalPrice + '원'); //총가격 출력

		}

		function deleteCart(cartId) {
			const deleteconf = confirm("주문 내역을 삭제하시겠습니까?");
			if (!deleteconf)
				return;

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var url = "/cart/" + cartId + "/delete";

			$.ajax({
				url : url,
				type : "DELETE", //전송방식
				contentType : "application/json",
				beforeSend : function(xhr) {
					//데이터를 전송하기 전에 헤더에 xsrf값
					xhr.setRequestHeader(header, token);
				},
				dataType : "json",
				cache : false,
				success : function(result, status) {
					location.href = '/carts';
				},
				error : function(jqXHR, status, error) {
					if (jqXHR.status == '401') {
						alert('로그인 후 이용해주세요.');
						location.href = '/member/login';
					} else {
						alert(jqXHR.responseText);
					}
				}
			});
		}
		function page(pageNumber) {
		    // 주소 이동
		    location.href = "/carts/" + pageNumber;
		}
	</script>
</th:block>
</html>